:root {
	/* Properties */
	--factor: 1.38;

	--family-default: 'IBM Plex Sans', sans-serif;
	--family-mono: 'IBM Plex Mono', monospace;
	--family-narrow: 'IBM Plex Sans Condensed', sans-serif;

	--weight-thin: 100;
	--weight-extralight: 200;
	--weight-light: 300;
	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;

	--size-default: clamp(0.875rem, 1vw, 1.25rem);
	--size-s: calc(var(--size-default) / var(--factor));
	--size-l: calc(var(--size-default) * var(--factor));
	--size-xl: calc(var(--size-l) * var(--factor));
	--size-xxl: calc(var(--size-xl) * var(--factor));

	--style: normal;
	--variant: normal;

	/* Presets */
	--family: var(--family-default);
	--size: var(--size-default);
	--weight: var(--weight-regular);
	--line-height: var(--factor);
	--border-width: 2px;

	/* Colors */
	--hue: 15;

	--color: hsl(var(--hue), 100%, 50%);
	--color-semi: hsla(var(--hue), 100%, 50%, 50%);
	--color-alt: hsl(calc(var(--hue) + 180), 100%, 50%);
	--color-alt-semi: hsla(calc(var(--hue) + 180), 100%, 50%, 15%);
	--light: hsl(var(--hue), 0%, 96%);
	--light-2: hsl(var(--hue), 2%, 94%);
	--light-3: hsl(var(--hue), 4%, 92%);
	--light-4: hsl(var(--hue), 6%, 90%);
	--light-5: hsl(var(--hue), 8%, 80%);
	--dark: hsl(var(--hue), 0%, 4%);
	--dark-2: hsl(var(--hue), 2%, 6%);
	--dark-3: hsl(var(--hue), 4%, 8%);
	--dark-4: hsl(var(--hue), 6%, 10%);
	--dark-5: hsl(var(--hue), 8%, 20%);

	--color-action: var(--color);
	--color-text: var(--dark);
	--color-border: var(--light-5);
	--color-highlight: var(--color-alt);
	--color-highlight-soft: var(--color-alt-semi);
	--color-background: var(--light);
	--color-section-1: var(--light-2);
	--color-section-2: var(--light-3);
	--color-section-3: var(--light-4);
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	font: var(--style) var(--variant) var(--weight) var(--size)/var(--line-height) var(--family);
	color: var(--color-text);

	scrollbar-width: var(--size-default);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: var(--light);
		--color-background: var(--dark);
		--color-section-1: var(--dark-2);
		--color-section-2: var(--dark-3);
		--color-section-3: var(--dark-4);
		--color-border: var(--dark-5);
	}
}