:root {
	/* Primatives */
	--factor: 1.38;

	--family: 'IBM Plex Sans', sans-serif;
	--family-mono: 'IBM Plex Mono', monospace;
	--family-narrow: 'IBM Plex Sans Condensed', sans-serif;

	--weight-thin: 100;
	--weight-extralight: 200;
	--weight-light: 300;
	--weight: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;

	--size: clamp(0.925em, 1.125vw, 1.125em);
	--size-s: calc(var(--size) / var(--factor));
	--size-l: calc(var(--size) * var(--factor));
	--size-xl: calc(var(--size-l) * var(--factor));
	--size-xxl: calc(var(--size-xl) * var(--factor));

	--stroke-s: 1px;
	--stroke: 2px;
	--stroke-l: 3px;

	--color-black: 270, 5%, 15%;
	--color-white: 0, 0%, 100%;
	--color-spot-1: 229, 61%, 35%;

	--shadow-light: 15%;
	--shadow-normal: 50%;
	--shadow-heavy: 85%;

	/* Properties */
	--color-text: hsl(var(--color-white));
	--color-background: hsl(var(--color-black));
	--color-action: hsl(var(--color-spot-1));
	
	--border-color: var(--color-background);
	--border-size: var(--stroke);
	--border-style: solid;

	--line-height: var(--factor);

	font-size: var(--size);

	/* Compososed properties */
	--border: var(--border-size) var(--border-style) var(--border-color);
	--font: normal normal var(--weight) var(--size)/var(--factor) var(--family);
}

* {
	margin: 0;
	padding: 0;

	font: normal normal var(--weight) var(--size)/var(--factor) var(--family);
}
