body {
	--color-negative: hsl(var(--color-white));
	--color-positive: hsl(var(--color-black));
	--color-action: hsl(var(--color-spot-1));
	
	--border-color: var(--color-positive);
	--border-size: var(--stroke);

	color: var(--color-positive);
	background-color: var(--color-negative);
}
