table {
    --cell-spacing: var(--border-width);
    --cell-padding: var(--size-s);
    --line-height: var(--size-xl);
    
    text-align: right;
    font-variant-numeric: tabular-nums;

    border-spacing: var(--border-width);
    background-color: var(--color-background);
}

caption {
    --weight: var(--weight-semibold);
    
    caption-side: bottom;

    padding: 0 var(--cell-padding);

    background-color: var(--color-section-1);
}

colgroup {
    background-color: var(--color-section-1);
}

colgroup:nth-child(even) {
    background-color: var(--color-section-2);
}

thead,
tfoot {
    --weight: var(--weight-semibold);
}

tbody {
    --weight: var(--weight-extralight);
}

th,
td {
    padding: 0 var(--cell-padding);

    white-space: nowrap;
}

td {
    --family: var(--family-mono);

    white-space: nowrap;
}

th:first-child {
    --weight: var(--weight-semibold);
    
    text-align: left;
}

tbody tr:hover {
    background-color: var(--color-highlight-soft);
}

/* Sticky table */
main > table:only-child {
    position: relative;
    width: 100%;

    margin: -1px;
}

main > table:only-child caption {
    position: sticky;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: var(--line-height);

    border-top: var(--border-width) solid var(--color-section-3);
}

main > table:only-child caption span {
    position: absolute;
    left: 50vw;
    transform: translate(-50%, 0);
}

main > table:only-child thead,
main > table:only-child tfoot {
    position: sticky;
    z-index: 2;

    background-color: var(--color-section-3);
}

main > table:only-child thead {
    top: 0;
}

main > table:only-child tfoot {
    bottom: calc(var(--line-height) - var(--cell-spacing));
}

main > table:only-child th:first-child {
    position: sticky;
    z-index: 1;
    left: 0;

    background-color: var(--color-section-2);
}

main > table:only-child thead tr th:first-child,
main > table:only-child tfoot tr th:first-child {
    background: var(--color-section-3);
}

main > table:only-child tbody tr:hover th:first-child {
    background: var(--color-section-2) linear-gradient(var(--color-highlight-soft), var(--color-highlight-soft));
}
