table {
    --spacing: var(--size-l);
    --line-height: var(--size-xl);
    
    text-align: right;
    font-variant-numeric: tabular-nums;
}

caption {
    caption-side: bottom;

    padding-right: calc(var(--spacing) / 2);

    text-align: right;
}

caption::before {
    content: '» ';
}

col {
    background-color: var(--color-section-1);
}

col:nth-child(even) {
    background-color: var(--color-section-2);
}

thead,
tfoot {
    --weight: var(--weight-semibold);
}

tbody {
    --weight: var(--weight-extralight);
}

th,
td {
    padding: 0 calc(var(--spacing) / 2);
}

td {
    --family: var(--family-mono);
}

th:first-child {
    --weight: var(--weight-semibold);
    
    text-align: left;
}

tbody tr:hover {
    background-color: var(--color-highlight-soft);
}