table {
    /* --cell-spacing: var(--border-width); */
    --cell-spacing: var(--border-width);
    --cell-padding: calc(var(--factor) * var(--size) - var(--size));
    --line-height: var(--size-xl);
    --spacing-color: var(--color-border);

    text-align: right;
    font-variant-numeric: tabular-nums;

    border-spacing: var(--cell-spacing);
    background-color: var(--spacing-color);
}

caption {
    --weight: var(--weight-semibold);
    --size: var(--size-l);
    
    caption-side: top;

    margin: 0;
    padding: var(--cell-padding);

    text-align: left;
}

colgroup {
    background-color: var(--color-section-1);
}

colgroup:nth-child(even) {
    background-color: var(--color-section-2);
}

thead,
tfoot {
    --weight: var(--weight-semibold);

    background-color: var(--color-section-3);
}

tbody {
    --weight: var(--weight-extralight);
}

th,
td {
    padding: 0 var(--cell-padding);

    white-space: nowrap;
}

td {
    --family: var(--family-mono);
}

th:first-child {
    --weight: var(--weight-semibold);
    
    text-align: left;
}

tbody tr:hover {
    background-color: var(--color-highlight-soft);
}

/* Sticky table */
table:only-child {
    position: relative;
    width: 100%;
}

table:only-child caption {
    position: sticky;
    z-index: 3;
    top: 0;

    caption-side: top;

    background-color: var(--color-background);

    border: var(--cell-spacing) solid var(--spacing-color);
    margin: calc(-1 * var(--cell-spacing)) 0;
}

table:only-child caption span {
    position: sticky;
    left: calc(var(--cell-padding) + var(--cell-spacing));
}

table:only-child thead,
table:only-child tfoot {
    position: sticky;
    z-index: 2;
}

table:only-child thead {
    top: calc(var(--size-xl) + 2 * var(--cell-padding) + 1 * var(--cell-spacing));
}

table:only-child tfoot {
    bottom: 0;
}

table:only-child thead th,
table:only-child thead td,
table:only-child tfoot th,
table:only-child tfoot td,
table:only-child tbody th:first-child
{
    outline: var(--cell-spacing) solid var(--spacing-color);
}

table:only-child th:first-child {
    position: sticky;
    z-index: 1;
    left: var(--cell-spacing);

    background-color: var(--color-section-2);
}

table:only-child thead th:first-child,
table:only-child tfoot th:first-child {
    background-color: var(--color-section-3);
}

table:only-child tbody tr:hover th:first-child {
    background: var(--color-section-2) linear-gradient(var(--color-highlight-soft), var(--color-highlight-soft));
}
