h1, h2, h3, h4, h5, h6 {
    --weight: var(--weight-semibold);
}

h1 {
    --size: var(--size-xxl);
    --weight: var(--weight-bold);
}

h2 {
    --size: var(--size-xl);
}

h3 {
    --size: var(--size-l);
}

strong {
    --weight: var(--weight-medium);
}

a {
    --color-text: var(--color-action);
}

label {
    --weight: var(--weight-medium);
}

input {
    --weight: var(--weight-medium);

    padding: calc(var(--size-s)/2);

    background-color: var(--color-text-20);
    border: var(--border-width) solid transparent;
}

input:focus-visible,
input:focus {
    background-color: var(--color-alt-20);
    border-color: var(--color-alt);

    outline: none;
}

label:focus-within {
    --color-text: var(--color-alt-80);
}