body {
    --line-height: var(--factor);

	font: normal normal var(--weight-regular) var(--size)/var(--line-height) var(--family-default);
    font-variant-numeric: oldstyle-nums;
}

h1, h2, h3, h4, h5, h6 {
    --size: var(--size);
    --weight: var(--weight-semibold);
    
    font-size: var(--size);
    font-weight: var(--weight);
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--size);
}

h1 {
    --weight: var(--weight-bold);
    --size: var(--size-xxl);
}

h2 {
    --size: var(--size-xl);
}

h3 {
    --size: var(--size-l);
}

strong {
    font-weight: var(--weight-medium);
}

table, form {
	font-variant-numeric: tabular-nums;
}

a {
    position: relative;
}

a[href^="http"]:hover:after,
a[href^="www"]:hover:after {
    content: attr(href);
    
    display: block;
    position: absolute;
    top: 100%;
    left: 0;

    padding: var(--space);

    background-color: var(--color-whitespace);

    border: var(--border-size) solid var(--border-color);
}