<table>
	<caption>
		<span>
			Table 1: Notations by country
		</span>
	</caption>
	
	<colgroup>
	</colgroup>
	
	<thead>
	</thead>
	
	<tbody>
		
	</tbody>
	
	<tfoot>
		<tr>
		</tr>
	</tfoot>
</table>
